@font-face {
    font-family: "PT Sans";
    font-weight: normal;
    src: url("#{$dirfont}/PTS55F.ttf") format("ttf");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    src: url("#{$dirfont}/PTS75F.ttf") format("ttf");
}
