/**
 * Имитация моргания курсора
 * <span class="blink">_</span>
 */
.blink {
    color: #ff4f72;
    animation: blink 1s infinite steps(1)

}
@keyframes blink {
    50% {
        opacity: 0
    }
}


/**
 * Красивая анимация подчеркивания текста
 */
a::before {
    content: '';
    transition: inherit;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 1px;
    background: currentcolor;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
*, *::before, *::after {
    box-sizing: inherit;
}
