/* Icons from directory "" */

.icon-form-logo-triangle,
.icon-form-logo-triangle\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 0;
    background-repeat: no-repeat
}

.icon-form-logo-triangle-dims {
    width: 137px;
    height: 71px
}

.icon-htmlacademy,
.icon-htmlacademy\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -71px;
    background-repeat: no-repeat
}

.icon-htmlacademy-dims {
    width: 27px;
    height: 34px
}

.icon-burger,
.icon-burger\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -105px;
    background-repeat: no-repeat
}

.icon-burger-dims {
    width: 76px;
    height: 69px
}

.icon-facebook,
.icon-facebook\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -174px;
    background-repeat: no-repeat
}

.icon-facebook-dims {
    width: 9px;
    height: 19px
}

.icon-gift,
.icon-gift\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -193px;
    background-repeat: no-repeat
}

.icon-gift-dims {
    width: 63px;
    height: 75px
}

.icon-house,
.icon-house\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -268px;
    background-repeat: no-repeat
}

.icon-house-dims {
    width: 75px;
    height: 72px
}

.icon-twitter,
.icon-twitter\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -340px;
    background-repeat: no-repeat
}

.icon-twitter-dims {
    width: 18px;
    height: 15px
}

.icon-youtube,
.icon-youtube\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -355px;
    background-repeat: no-repeat
}

.icon-youtube-dims {
    width: 20px;
    height: 14px
}

.icon-intro-triangle,
.icon-intro-triangle\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -369px;
    background-repeat: no-repeat
}

.icon-intro-triangle-dims {
    width: 300px;
    height: 14px
}

.icon-map-marker,
.icon-map-marker\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -383px;
    background-repeat: no-repeat
}

.icon-map-marker-dims {
    width: 27px;
    height: 27px
}

.icon-text-becausecanyon,
.icon-text-becausecanyon\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -410px;
    background-repeat: no-repeat
}

.icon-text-becausecanyon-dims {
    width: 294px;
    height: 79px
}

.icon-text-sedona,
.icon-text-sedona\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -489px;
    background-repeat: no-repeat
}

.icon-text-sedona-dims {
    width: 300px;
    height: 52px
}

.icon-text-tothegorgeous,
.icon-text-tothegorgeous\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -541px;
    background-repeat: no-repeat
}

.icon-text-tothegorgeous-dims {
    width: 256px;
    height: 29px
}

.icon-text-welcome,
.icon-text-welcome\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -570px;
    background-repeat: no-repeat
}

.icon-text-welcome-dims {
    width: 188px;
    height: 45px
}
