$screen_sm: 320px;
$screen_md: 768px;
$screen_lg: 1200px;

$dirfont: "/fonts";

$base-size: 14px;
$base-height: 21px;

$header-size: 18px;
$header-alt-size: 21px;
$header-height: 26px;

$title-size: 30px;
$title-height: 26px;

$search-hotel-text-height: 24px;

$color-brown: #766357;
$color-red: #d22856;
$color-blue: #81b3d2;
$color-blue-light: desaturate(lighten($color-blue, 1.3%), 2%) /*#88b6d1*/;
$color-border: #d6d6d6;
$color-bg-menu-hover: desaturate(darken($color-blue, 9%), 6%) /*#669ec0*/;
$color-bg-menu-active: desaturate(darken($color-blue, 11%), 6%) /*#5496bd*/;

$color-bg-input: #f2f2f2;
$color-border-fieldset: #e5e5e5;
$color-bigbtn-font: #b8b8b8;
$color-border-blog: #dbdbdb;
$color-active-ctrl: #d5d5d5;
$color-active-ctrl-font: #a4a4a4;


$nav-height: 56px;
$mobile-menu-item-height: 54px;
$mobile-menu-border-bottom-color: desaturate(darken($color-blue, 13.3%), 20%) /*#678fa8*/;
$mobile-menu-border-top-color: lighten($color-blue, 6.7%) /*#9ac2db*/;

$z-index-nav: 1;
$z-index-nav-btn: 2;
$z-index-veil: 10;
$z-index-modal: 20;
