build/
.Saved/
_psd/
_arc/
_doc/
bower_components/
node_modules/
*.log
*.rar
*.sublime*
*.txt
*.zip
.DS_Store
.idea
ex_files
Thumbs.db
.gitignore
Замечания.*
FarMenu.ini
*.con
*.!
src/
.editorconfig/
