build/
.Saved/
_arc/
_doc/
bower_components/
node_modules/
*.log
*.rar
*.sublime*
*.txt
*.zip
.DS_Store
.idea
css/*.css
ex_files
Thumbs.db
.gitignore
Замечания.*
FarMenu.ini
*.min.css
*.min.js
*.con
*.!
