/* --- common -------------------------------------------------------------- */
.main {
  margin: 0;
  padding: 0;
  &--index {
    @include padding-to-edge (45px, $header-size, $header-height, top);
  }
  &--form {
    @include padding-to-edge (80px, $header-size, $header-height, top);
    @media(min-width: $screen_md) {
      @include padding-to-edge (75px, $title-size, $title-height, top);
    }
    @media(min-width: $screen_lg) {
      padding-top: 110px;
    }
  }
  &--blog {
    @include padding-to-edge (50px, $title-size, $title-height, top);
    @media(min-width: $screen_md) {
      @include padding-to-edge(75px, $title-size, $title-height, top);
    }
    @media(min-width: $screen_lg) {
      padding-top: 110px;
    }
  }
}



.title {
  margin: 0;
  padding: 0;
  @include wrapper(padding, 30px);
  @include padding-between-blocks (45px, $header-size, $header-height, $base-size, $base-height);
  font-weight: bold;
  font-size: $header-size;
  line-height: $header-height;
  text-align: center;
  @media(min-width: $screen_md) {
    @include padding-between-blocks (40px, $header-size, $header-height, $base-size, $base-height);
  }
  @media(min-width: $screen_lg) {
    @include wrapper($size: 355px);
  }
  .main--form & {
    @include padding-between-blocks (40px, $header-size, $header-height, $base-size, $base-height + 3);
    font-size: $title-size;
    line-height: $title-height;
    line-height: $header-height + 3;
  }
  .main--blog & {
    font-weight: bold;
    font-size: $title-size;
    line-height: $header-height;
  }
}



.subtitle {
  margin: 0;
  padding: 0;
  @include wrapper(padding, 30px);
  font-size: $base-size;
  line-height: $base-height;
  @include padding-to-edge (34px, $base-size, $base-height);
  @media (min-width: $screen_md) {
    @include padding-to-edge (75px, $base-size, $base-height);
    @include wrapper(padding, 150px);
    font-size: $base-size;
    line-height: $header-height;
    .main--blog & {
      padding-bottom: 44px;
    }
  }
  @media(min-width: $screen_lg) {
    @include wrapper($size: 355px);
  }
}



/* --- index.html ---------------------------------------------------------- */
.features {
  display: flex;
  flex-direction: column;
  text-align: left;
  @media (min-width: $screen_md) {
    flex-direction: row;
    justify-content: space-around;
  }
  &__item{
    position: relative;
    padding-left: 71px;
    @media (min-width: $screen_md) {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      width: 168px;
      text-align: center;
    }
    &:first-child .features__header {
      @media (max-width: $screen_md - 1) {
        @include padding-to-edge (40px, $header-size, $header-height, top);
      }
    }
    &:last-child .features__text {
      @include padding-to-edge (45px, $base-size, $base-height);
    }
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-image: url('../img/icons.svg');
      @media (min-width: $screen_md) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &--house {
      &:before {
        left: 25px;
        top: 25px;
        height: 35px;
        width: 36px;
        background-size: 148px;
        background-position: -1px -196px;
        @media (min-width: $screen_md) {
          top: 54px;
          width: 75px;
          height: 72px;
          background-position: 0 -405px;
          background-size: 305px;
          //order: 0;
        }
      }
    }
    &--gift {
      @media (min-width: $screen_md) {
        order: 2;
      }
      &:before {
        left: 27px;
        top: 21px;
        height: 38px;
        width: 32px;
        background-size: 152px;
        background-position: 0 -163px;
        @media (min-width: $screen_md) {
          top: 50px;
          width: 75px;
          height: 76px;
          background-position: 0 -328px;
          background-size: 305px;
        }
      }
    }
    &--burger {
      &:before {
        left: 20px;
        top: 26px;
        width: 39px;
        height: 35px;
        background-size: 152px;
        background-position: 0 -96px;
        @media (min-width: $screen_md) {
          top: 56px;
          width: 75px;
          height: 70px;
          background-position: 0 -193px;
          background-size: 305px;
          //order: 1;
        }
      }
    }
  }
  &__header {
    margin: 0;
    padding: 0;
    @include padding-between-blocks (40px, $base-size, $base-height, $header-size, $header-height, top);
    @include padding-between-blocks (25px, $header-size, $header-height, $base-size, $base-height);
    font-size: $header-size;
    line-height: $header-height;
    @media (min-width: $screen_md) {
      @include padding-between-blocks (168px, $base-size, $base-height, $header-size, $header-height, top);
    }
  }
  &__text {
    margin: 0;
    padding: 0;
    font-size: $base-size;
    line-height: $base-height;
  }
}



.illustrated {
  @media(min-width: $screen_md) {
    display: flex;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    @media(min-width: $screen_md) {
      /*width: 100%;*/
      height: auto;
    }
    &-cover {
      position: relative;
      width: 100%;
      height: 256px;
      overflow: hidden;
      @media(min-width: $screen_md) {
        width: 0;
        flex-grow: 1;
      }
    }
  }
  & .advantage {
    @media (min-width: $screen_md) {
      flex-basis: 33.33333%;
    }
  }
  &--city .advantage {
    padding-top: 15px;
    background-image: url(../img/page-title__bottom-mask.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    @media (min-width: $screen_md) {
      background-image: none;
    }
  }
  &--bridge .advantage {
    order: 1;
  }
}



.advantage {
  &__wrap {
    display: none;
    @media(min-width: $screen_md) {
      display: inline;
    }
    @media(min-width: 1005px) {
      display: none;
    }
  }
  @media(min-width:$screen_md) {
    padding: 0 35px;
    min-height: 256px;
    width: 33.33333%;
    &:not(.advantage--colored) {
      border-left: 1px solid #efefef;
      border-right: 1px solid #efefef;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  &s-cover {
    background-color: #eee;
    @media(min-width: $screen_md) {
      display: flex;
    }
  }
  &--colored {
    background: $color-blue;
    color: #fff;
  }
  &__header {
    margin: 0;
    padding: 0;
    font-size: $header-size;
    line-height: $header-height;
    @include padding-to-edge (45px, $base-size, $base-height, top);
    @include padding-between-blocks (20px, $header-size, $header-height, $base-size, $base-height);
    @media(min-width:$screen_md) {
      @include padding-to-edge (49px, $base-size, $base-height, top);
      @include wrapper($size: 10%);
    }
  }
  &__num, &__text {
    margin: 0;
    padding: 0;
    font-size: $base-size;
    line-height: $base-height;
  }
  &__num {
    @include padding-between-blocks (20px, $base-size, $base-height, $base-size, $base-height);
  }
  &__text {
    @include padding-to-edge (45px, $base-size, $base-height);
    @include wrapper(margin);
    @media(min-width: $screen_md) {
      margin: 0;
      padding: 0;
      @include wrapper($size: 5%);
    }
    .advantages-cover .advantage:not(:last-child) & {
      border-bottom: 1px solid $color-border;
      @media(min-width: $screen_md) {
        border-bottom: none;
      }
    }
  }
}



.search-hotel {
  margin: 0 0 50px;
  padding: 0;
  @media(min-width: $screen_md) {
    margin-bottom: 57px;
  }
  &__header {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    @include wrapper;
    @include padding-between-blocks (32px, $header-alt-size, $header-height, $base-size, $search-hotel-text-height);
    font-size: $header-alt-size;
    line-height: $header-height;
    @media(min-width: $screen_md) {
      margin-top: 55px;
      font-size: 30px;;
    }
  }
  &__text {
    margin: 0;
    padding: 0;
    @include padding-to-edge (32px, $base-size, $search-hotel-text-height);
    font-size: $base-size;
    line-height: $search-hotel-text-height;
    @media(min-width: $screen_md) {
      //@include wrapper(margin, 20%);
      @include padding-to-edge (47px, $base-size, $search-hotel-text-height);
      margin: 0 auto;
      width: 460px
    }
  }
  &__btn {
    margin: 0;
    padding: 0;
    padding: 16px;
    @include btn;
    display: block;
    font-size: 21px;
    line-height: $header-height;
    background-color: $color-blue;
    @include wrapper(margin);
    color: #fff;
    font-weight: bold;
    @include large-btn-states;
    &--disabled,
    &--disabled:hover,
    &--disabled:focus,
    &--disabled:active {
      background-color: $color-border-fieldset;
      color: #fff;
    }
    @media(min-width: $screen_md) {
      //@include wrapper(margin, 20%);
      width: 460px;
      margin: 0 auto;
    }
  }
}



.map {
  margin: 0;
  width: 100%;
  height: 350px;
  @include padding-between-blocks (40px, $header-alt-size, $header-height, 0, 0);
}



/* --- form.html ----------------------------------------------------------- */

.fieldset {
  position: relative;
  padding-bottom: 14px;
  border-top: 1px solid $color-border-fieldset;
  border-left: none;
  border-right: none;
  @media(min-width: $screen_md) {
    padding-top: 31px;
    padding-bottom: 66px;
    @include wrapper(margin, 60px);
  }
  @media(min-width: $screen_lg) {
    @include wrapper(margin, 120px);
  }
  &__header {
    @include padding-to-edge (23px, $header-size, $header-height, top);
    @include padding-to-edge (/*26*/37px, $header-size, $header-height);
    font-size: $header-size;
    line-height: $header-height;
    @media(min-width: $screen_md) {
      position: absolute;
      padding: 0 45px;
      left: 50%;
      transform: translateX(-50%);
      top: - $header-height / 2;
      background-color: #fff;
      font-size: $header-alt-size;
      white-space: pre;
    }
  }
  &--fio {
    @media(min-width: $screen_md) {
      display: flex;
      flex-direction: row;
    }
  }
  &--places {
    @media(min-width: $screen_md) {
      padding-top: 83px;
      padding-bottom: 28px;//89px;
    }
  }
  &--photos {
    @include wrapper;
    padding-bottom: 30px;
    @media(min-width: $screen_md) {
      margin-left: 155px;
      margin-right: 155px;
      padding-top: 70px;
    }
    @media(min-width: $screen_lg) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &__wrapper {
    display: block;
    margin: 0;
    padding: 0;
    @media(min-width: $screen_md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .fieldset--places & {
        justify-content: center;
      }
    }
  }
}



.input-block {
  text-align: left;
  padding: 0 20px;
  &__label {
    padding: 0;
    @include padding-to-edge (14px, $base-size, $header-height, top);
    @include padding-to-edge (14px, $base-size, $header-height);
    display: block;
    font-size: $base-size;
    line-height: $header-height;
    @media(min-width: $screen_md) {
      padding-left: 20px;
    }
  }
  &__star {
    color: #ff1111;
  }
  &__input {
    margin-bottom: 10px;
    width: 100%;
    @include input;
    &:hover {
      background-color: $color-border-fieldset;
      border-color: $color-border-fieldset;
    }
    &:focus {
      background-color: #fff;
      border-color: $color-border-fieldset;
    }
    &:disabled {
      border: 2px solid $color-bigbtn-font;
    }
  }
  @media(min-width: $screen_md) {
    padding: 0;
    //flex-grow: 1;
    flex-basis: 28%;
    .fieldset--travellers &--calc {
      margin: auto;
      width: 29%;
      text-align: center;
      white-space: nowrap;
    }
    .fieldset--places & {
      flex-basis: 35%;
      padding-bottom: 61px;
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 4;
      }
    }
    .traveller__fio & {
      margin-left: 1%;
      flex-grow: 1;
    }
  }
  @media(min-width: $screen_lg) {
    .fieldset--travellers &--calc {
      margin: 0;
    }
    .fieldset--places & {
      flex-basis: 25%;
    }
    .traveller__fio & {
      margin: 0;
    }
    .traveller__fio &:first-child {
      flex-basis: auto;
      width: 183px;
    }
    .traveller__fio &:nth-child(2),
    .traveller__fio &:nth-child(3) {
      margin-left: 61px;
    }
  }
}



.radio-label {
  position: relative;
  display: block;
  padding: 17px 0 27px 0px;
  padding-left: 100px;
  font-weight: bold;
  font-size: $header-size;
  line-height: $header-height;
  text-align: left;
  text-transform: none;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    left: 41px;
    width: 54px;
    height: 54px;
    background-color: $color-bg-input;
    border-radius: 50%;
    border: 16px solid $color-bg-input;
  }
  &:hover {
    &:before {
      border-color: $color-border-fieldset;
      background-color: $color-border-fieldset;
    }
  }
  &:active {
    &:before {
      background-color: $color-active-ctrl-font;
      border-color: $color-active-ctrl;
    }
  }
  input[type="radio"]:checked + &:before {
    background-color: #333;
  }
}



.calc {
  position: relative;
  display: flex;
  padding-bottom: 10px;
  flex-direction: row;
  &__input {
    @include input;
    margin: 0 6px;
    //padding-left: 10%;
    padding: 0 23% 0 7%;
    width: 0;
    flex-grow: 1;
    &:hover {
      background-color: $color-border-fieldset;
      border-color: $color-border-fieldset;
    }
    &:focus {
      background-color: #fff;
      border-color: $color-border-fieldset;
    }
    &:disabled {
      border: 2px solid $color-bigbtn-font;
    }
    @media(min-width: $screen_md) {
      text-align: center;
      margin: 0;
      padding: 0 5%;
    }
    @media(min-width: $screen_lg) {
      text-align: left;
      margin: 0 6px;
      padding: 0 23% 0 7%;
    }
  }
  &__button {
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 0;
    color: $color-bigbtn-font;
    border: none;
    background-color: $color-bg-input;
    outline: none;
    transition: background-color .05s;
    fill: $color-bigbtn-font;
    &:hover {
      background-color: $color-border-fieldset;
      fill: darken($color-bigbtn-font, 20);
    }
    &:active {
      background-color: $color-active-ctrl;
      fill: $color-active-ctrl-font;
    }
  }
  &__sign-minus,
  &__sign-plus {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
  &:before {
    content: attr(data-label);
    position: absolute;
    top: calc(44%);
    transform: translateY(-50%);
    left: 55%;
    width: auto;
    height: $header-size + 2;
    background-color: transparent;
    border: none;
    text-align: left;
    font-weight: normal;
    font-size: $header-size;
    line-height: $header-size;
    color: #a9a9a9;
    text-transform: none;
    z-index: 1;
    @media (min-width: $screen_md) {
      content: '';
    }
    @media (min-width: $screen_lg) {
      content: attr(data-label);
    }
  }
}



.traveller {
  display: flex;
  @include wrapper;
  @media (min-width: $screen_md) {
    padding: 0;
  }
  &__no {
    margin-right: 6px;
    padding-right: 0;
    width: 60px;
    height: 60px;
    .input-block__label {
      text-align: center;
    }
    @media(min-width: $screen_md) {
      margin: 0;
    }
  }
  &__fio {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .input-block__label {
      padding-left: 22px;
    }
    @media (min-width: $screen_md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: $screen_lg) {
      margin-left: 6px;
    }
  }
  & .input-block {
    padding: 0;
  }
}



.checkbox-label {
  position: relative;
  display: block;
  @include padding-between-blocks (65px, $header-size, $header-height, $header-size, $header-height);
  padding-left: 100px;
  font-weight: bold;
  font-size: $header-size;
  line-height: $header-height;
  text-align: left;
  text-transform: none;
  white-space: pre-line;
  @media (min-width: $screen_md) {
    padding-bottom: 0;
    .fieldset--places & {
      flex-basis: 45%;
    }
  }
  @media (min-width: $screen_lg) {
    flex-basis: 0;
    padding-left: 75px;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: -50%;
    transform: translateY(50%);
    width: 56px;
    height: 56px;
    @media (min-width: $screen_md) {
      top: -150%;
    }
    @media (min-width: $screen_lg) {
      left: 0;
    }
  }
  &:before {
    background-color: $color-bg-input;
    border-radius: 5px;
  }
  &:hover {
    &:before {
      border-color: $color-border-fieldset;
      background-color: $color-border-fieldset;
    }
  }
  &:active {
    &:before {
      background-color: $color-active-ctrl;
    }
  }
}



input[type=checkbox] {
  &:checked + .checkbox-label:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KPHBhdGggZmlsbD0iIzQ0NDQ0NCIgZD0iTTI3IDRsLTE1IDE1LTctNy01IDUgMTIgMTIgMjAtMjB6Ij48L3BhdGg+Cjwvc3ZnPg==) no-repeat center;
    background-size: 25px;
  }
  &:checked:active + .checkbox-label:after {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0iI2E0YTRhNCIgZD0iTTI3IDRsLTE1IDE1LTctNy01IDUgMTIgMTIgMjAtMjB6Ij48L3BhdGg+PC9zdmc+) no-repeat center;
    background-size: 25px;
  }
}


.file-label {
  @include btn-wide;
  background-color: $color-bg-input;
  color: $color-bigbtn-font;
  &:hover {
    background-color: $color-border-fieldset;
    color: #7a7a7a;
  }
  &:focus,
  &:active {
    background-color: $color-active-ctrl;
    color: $color-active-ctrl-font;
  }
  @media (min-width: $screen_lg) {
    width: 100%;
    background-color: $color-blue;
    color: #fff;
    @include large-btn-states;
  }
  &__text {
    @media (min-width: $screen_lg) {
      display: none;
    }
    &--desktop {
      display: none;
      @media (min-width: $screen_lg) {
        display: inline;
      }
    }
  }
}



.upload-pics {
  margin: 20px -20px 0 -15px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media (min-width: $screen_md) {
    margin: 20px -130px 0 -110px;
    padding-top: 52px;
  }
  @media (min-width: $screen_lg) {
    margin: 0 -35px 0 -30px;
  }
  &__item {
    position: relative;
    display: inline-block;
    margin: 0px 20px 35px 15px;
    padding-top: 15px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    color: $color-bigbtn-font;
    text-transform: none;
    text-align: left;
    @media (min-width: $screen_md) {
      margin: 0px 35px 65px 30px;
      padding-top: 35px;
      width: 140px;
      height: 140px;
    }
    &-del {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 30px;
      width: 30px;
      background: $color-bg-input;
      border-radius: 50%;
      font-size: 0;
      z-index: 1;
      @media (min-width: $screen_md) {
        left: 100%;
        height: 60px;
        width: 60px;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 2px;
        transform-origin: 50% 50%;
        background-color: $color-bigbtn-font;
      }
      &:before {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }
      &:hover {
        background-color: $color-border-fieldset;
        &:before, &:after {
          background-color: #8c8c8c;
        }
      }
      &:active {
        background-color: $color-active-ctrl;
        &:before, &:after {
          background-color: $color-active-ctrl-font;
        }
      }
    }
    &-label {
      display: none;
      font-weight: 100;
      font-size: $base-size;
      line-height: $base-height;
      color: #333;
      @media (min-width: $screen_md) {
        display: inline;
      }
    }
    & img {
      margin: 0;
      padding: 0;
      width: 70px;
      height: 70px;
      @media (min-width: $screen_md) {
        width: 140px;
        height: 140px;
      }
    }
  }
}



.btn-sumbit {
  @include btn-wide;
  @include padding-to-edge (109px, $header-alt-size, $header-height, $margin-or-padding: margin);
  background-color: $color-blue;
  color: #fff;
  @include large-btn-states;
  @media (min-width: $screen_lg) {
    width: 458px;
  }
}



.wrapper {
  @include wrapper(padding, 20px);
  @media (min-width: $screen_md) {
    @include wrapper(padding, 155px);
  }
}



.modal {
  display: none;
  position: fixed;
  @include padding-to-edge(45px, $header-size, $header-height, top);
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, .15);
  z-index: $z-index-modal;
  &--show {
    display: block;
  }
  @media (min-width: $screen_md) {
    @include padding-to-edge(65px, $title-size, $title-size, top);
    width: 640px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--error {
    @media (min-width: $screen_md) {
      width: 400px;
    }
  }
  &__header {
    @include padding-between-blocks(38px, $header-size, $header-height, $base-size, 24px);
    @include wrapper($size: 50px);
    font-weight: bold;
    font-size: $header-size;
    line-height: $header-height;
    @media (min-width: $screen_md) {
      font-size: $title-size;
      line-height: $title-size;
    }
  }
  &__text {
    @include wrapper($size: 50px);
    font-weight: normal;
    font-size: $base-size;
    line-height: 24px;
    @media (min-width: $screen_md) {
      @include wrapper($size: 15%);
    }
  }
  &__footer {
    @include padding-to-edge(40px, $header-size, $header-height, top, margin);
    //@include padding-to-edge(30px, $header-size, $header-height, top);
    padding: 20px;
    background-color: $color-bg-input;
    @media (min-width: $screen_md) {
      padding: 44px 90px;
    }
    .modal--error & {
      margin: 0;
      padding-bottom: 35px;
      @include padding-to-edge(30px, $header-size, $header-height, top);
      @include wrapper($size: 70px);
      background-color: #fff;
      @media (min-width: $screen_md) {
        padding: 44px 64px 49px;
      }
    }
  }
  &__btn {
    font-weight: bold;
    font-size: $header-size;
    line-height: 58px;
    background-color: $color-blue;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
  }
}



.file-label-text {
  @media (min-width: $screen_lg) {
    display: none;
  }
  &--desktop {
    display: none;
    @media (min-width: $screen_lg) {
      display: inline;
    }
  }
}



/* --- Блог: blog.html & post.html ------------------------------------------ */
.articles-overlay {
  @media(min-width: $screen_md) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
  }
}



.post-preview {
  @include wrapper(margin);
  @include clearfix;
  border-top: 2px solid $color-border-blog;
  @include padding-to-edge (35px, $base-size, $base-height);
  @media(min-width: $screen_md) {
    position: relative;
    margin: 0 44px;
    width: calc(50% - 88px);
    &:nth-child(2n-1) {
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: -1px;
        right: -45px;
        width: 2px;
        height: calc(100% + 2px);
        background-color: $color-border-blog;
      }
    }
    &:nth-last-child(2),
    &:nth-last-child(1) {
      border-bottom: 2px solid $color-border-blog;
    }
  }
  &__title {
    @include padding-to-edge (39px, $header-alt-size, $header-height, top);
    @include padding-between-blocks (30px, $header-alt-size, $header-height, $base-size, $base-height);
    font-size: $header-alt-size;
    line-height: $header-height;
  }
  &__text {
    @include padding-between-blocks (30px, $base-size, $base-height, $base-size, $base-height);
    font-size: $base-size;
    line-height: $base-height;
  }
  &__date,
  &__tag {
    position: relative;
    float: left;
    padding-left: 23px;
    display: inline;
    font-style: italic;
    color: #999;
    text-decoration: none;
    .main--blog & {
      float: none;
    }
  }
  &__date {
    margin-right: 24px;
  }
  &__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 4px;
    fill: $color-blue;
  }
}



.paginator {
  padding: 45px 4px 29px 20px;
  text-align: left;
  font-size: 0;
  border-top: 2px solid $color-border-blog;
  border-bottom: 2px solid $color-border-blog;
  list-style: none;
  @media(min-width: $screen_md) {
    position: relative;
    padding: 0 4px 0 20px;
    padding-left: calc((100% - 326px)/2);
    width: calc(340px + (100% - 326px)/2);
    border: none;
    &:before {
      content: 'Страница:';
      position: absolute;
      display: block;
      font-weight: bold;
      font-size: $header-alt-size;
      line-height: $header-height;
      left: 45px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__item {
    margin-right: 16px;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: $header-size;
    @include btn;
    a {
      @include large-btn-states;
      background-color: $color-blue;
      padding: 17px 24px 18px;
      line-height: 58px;
      color: #fff;
    }
    &--active {
      padding: 0 24px;
      line-height: 58px;
      background-color: $color-border-fieldset;
      color: #000;
      cursor: default;
    }
    @media(min-width: $screen_md) {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }
}



.post {
  @include wrapper;
  position: relative;
  padding-bottom: 40px;
  @media (min-width: $screen_md) {
    @include wrapper($size: 45px);
  }
  @media (min-width: $screen_lg) {
    @include wrapper($size: 200px);
  }
  &:before, &:after {
    @media (min-width: $screen_md) {
      content: '';
      display: block;
      position: absolute;
      width: calc(50% - 190px);
      height: 2px;
      background-color: $color-border-blog;
      top: 10px;
      left: 45px;
    }
  }
  &:after {
    @media (min-width: $screen_md) {
      left: initial;
      right: 45px;
      width: calc(50% - 197px);
    }
  }
  &__title {
    @include padding-between-blocks (40px, 24px, 35px, $base-size, $base-height, top);
    @include padding-between-blocks (32px, 24px, 35px, $header-size, $header-height);
    font-size: 24px;
    line-height: 35px;
    @media (min-width: $screen_md) {
      font-size: 40px;
      line-height: 50px;
    }
    @media (min-width: $screen_lg) {
      @include wrapper($size: 65px);
    }
  }
  &__subtitle {
    @include padding-between-blocks (38px, $header-size, $header-height, $base-size, $base-height);
    font-size: $header-size;
    line-height: $header-height;
    color: $color-brown;
    text-transform: none;
    @media (min-width: $screen_md) {
      font-size: 24px;
      line-height: 30px;
    }
    @media (min-width: $screen_lg) {
      @include wrapper($size: 65px);
    }
  }
  &__section-head {
    @include padding-between-blocks (50px, $title-size, $title-size, $base-size, $base-height, top);
    @include padding-between-blocks (48px, $title-size, $title-size, $base-size, $base-height);
    font-size: $title-size;
    line-height: $title-size;
    .main--blog &:first-of-type {
      padding-top: 15px;
    }
    @media (min-width: $screen_md) {
      padding-bottom: 31px;
      font-size: $title-size;
      line-height: $title-height;
      text-align: left;
    }
  }
  &__text {
    font-size: $base-size;
    line-height: $base-height + 3;
    text-align: left;
    @media (min-width: $screen_md) {
      font-size: $base-size;
      line-height: 24px;
      text-align: left;
    }
  }
  &__ul {
    padding: 24px 0 24px 17px;
    list-style: none;
    text-align: left;
    li {
      position: relative;
      font-weight: bold;
      &:before {
        position: absolute;
        content: '';
        left: -17px;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background-color: $color-blue;
      }
    }
  }
  &__call {
    color: $color-brown;
    text-decoration: underline;
  }
  &__cite {
    position: relative;
    padding-left: 20px;
    //border-left: 2px solid $color-blue;
    text-align: left;
    &:before {
      position: absolute;
      content: '';
      top: ($base-height - $base-size) / 2;
      left: 0;
      width: 2px;
      height: calc(100% - #{($base-height - $base-size)});
      background-color: $color-blue;
    }
  }
  &__cite-text {
    @include padding-between-blocks (38px, $base-size, $base-size, $base-size, $base-height, top, margin);
  }
  &__cite-author {
    font-style: italic;
    color: $color-brown;
    text-transform: none;
  }
}



.nav-control {
  padding: 35px 10px;
  text-align: left;
  font-size: 0;
  border-top: 2px solid $color-border-blog;
  border-bottom: 2px solid $color-border-blog;
  @media (min-width: $screen_md) {
    display: flex;
    padding-top: 2px;
    @include wrapper($size: 35px);
    border: none;
  }
  @media (min-width: $screen_lg) {
    @include wrapper($size: 190px);
  }
  &__item {
    list-style: none;
    @include btn;
    margin: 10px;
    width: calc(50% - 20px);
    border: 2px solid $color-blue;
    font-weight: bold;
    font-size: $header-size;
    line-height: 58px;
    a {
      color: #000;
    }
    &:last-child {
      @media (MAX-width: $screen_md - 1px) {
        width: calc(100% - 20px);
      }
    }
    &:hover {
      background-color: $color-bg-menu-hover;
      border-color: $color-bg-menu-hover;
      a {
        color: #fff;
      }
    }
    &:active {
      background-color: $color-bg-menu-active;
      border-color: $color-bg-menu-active;
      a {
        color: $color-blue-light;
      }
    }
    @media (min-width: $screen_md) {
      font-size: $header-alt-size;
    }
  }
}

